*.DS_Store
# Folders to ignore
.mixin.out
.vscode
cache
config/*
!config/
config/apotheosis/*
!config/apotheosis/
config/attributefix/*
!config/attributefix/
config/bettercombat/*
!config/bettercombat/
config/jade/*
!config/jade/
config/puffish_skills/*
!config/puffish_skills/
config/defaultworldtype/*
!config/defaultworldtype/
config/skyblockbuilder/*
!config/skyblockbuilder/
config/structures_tweaker/*
!config/structures_tweaker/
crash-reports
data
debug
!kubejs/data
defaultconfigs/*
!defaultconfigs/
downloads
dynamic-data-pack-cache
dynamic-resource-pack-cache
fancymenu_data
fieldguide_cache
floatingdamagenumbers
local
logs
moddata
midi_files
mods
moonlight-global-datapacks
patchouli_books
profileImage
resourcepacks/*
!resourcepacks/
saves
schematics
screenshots
shaderpacks
skyblockbuilder/*
xaero
XaeroWaypoints*

# Files to ignore
kubejs/client_scripts/jsconfig.json
kubejs/client_scripts/main.js
kubejs/config/probe-settings.json
kubejs/config/web_server.json
kubejs/server_scripts/jsconfig.json
kubejs/server_scripts/main.js
kubejs/startup_scripts/jsconfig.json
kubejs/startup_scripts/main.js
kubejs/README.txt
.curseclient
command_history.txt
emi.json
imgui.ini
minecraftinstance.json
options.txt
patchouli_data.json
ponders_watched.json
user-prefs.json
usercache.json
usernamecache.json
.probe
.qmenu_opened.marker
win_event*

# Config files to include
# Gameplay system configs
!config/skyblockbuilder/*
!config/defaultworldtype/client-config.toml
!config/questlog/
!config/ftbquests
!config/ftbxmodcompat.snbt
!config/emi.css
!config/emixx
!config/exmi/
!config/structures_tweaker/global.json
!config/structures_tweaker/insurgence
!config/structurify.json
!config/lootr-common.toml
!config/item_obliterator.json5
!config/enchant_limiter.json
!config/irons_rpg_tweaks-server.toml

# Content mod configs
!config/relics.yaml
!config/relics/
!config/apotheosis/*
!config/collectorsalbum.yaml
!config/quark-common.toml
!config/farmersdelight-client.toml
!config/irons_spellbooks-server.toml

# Cosmetic mod configs
!config/tooltipoverhaul/
!config/tooltipicons.json
!config/enhancedtooltips.json5
!config/item_descriptions.toml
!config/emojitype.json
!config/elytra-trims.json
!config/travelerstitles-neoforge-1_21.toml
!config/stylisheffects-client.toml
!config/subtle_effects/
!config/appleskin-client.toml
!config/musicnotification.json
!config/xaerominimap.txt
!config/jade/plugins.json

# Mod loader configs
!config/fml.toml
!config/configuration-options.json

# Resource packs to include
!resourcepacks/Consistent Metalworks
!resourcepacks/Dye Depot Plus
!resourcepacks/Vanilla Style FTB Quests
!resourcepacks/More Attribute Tooltips