# Folders to ignore
.mixin.out
.vscode
cache
config/*
!config/
config/apotheosis/*
!config/apotheosis/
config/attributefix/*
!config/attributefix/
config/bettercombat/*
!config/bettercombat/
config/jade/*
!config/jade/
config/puffish_skills/*
!config/puffish_skills/
crash-reports
datapacks
data
!kubejs/data
defaultconfigs/*
!defaultconfigs/
downloads
dynamic-data-pack-cache
dynamic-resource-pack-cache
local
logs
moddata
mods
patchouli_books
resourcepacks
saves
screenshots
shaderpacks
xaero
XaeroWaypoints*

# Files to ignore
kubejs/client_scripts/jsconfig.json
kubejs/client_scripts/main.js
kubejs/config/probe-settings.json
kubejs/config/web_server.json
kubejs/server_scripts/jsconfig.json
kubejs/server_scripts/main.js
kubejs/startup_scripts/jsconfig.json
kubejs/startup_scripts/main.js
kubejs/README.txt
.curseclient
command_history.txt
emi.json
minecraftinstance.json
options.txt
patchouli_data.json
usercache.json
usernamecache.json
.probe

# Config files to include
!config/fml.toml
!config/emi.css
!config/emixx
!config/item_obliterator.json5
!config/enhancedtooltips.json5
!config/tooltipicons.json
!config/appleskin-client.toml
!config/farmersdelight-client.toml
!config/enchdesc.json
!config/relics.yaml
!config/relics/
!config/apotheosis/*
!config/elytra-trims.json
!config/legendarytooltips.toml
!config/irons_spellbooks-server.toml
!config/irons_rpg_tweaks-server.toml